table,
th,
td {
  border: 1px solid black;
}

iframe,
img {
  border: 5px solid black;
}

h1,
h2,
h3 {
  font-weight: bolder;
  font-size: 50px;
  text-decoration: none;
  color: #d4d4d4;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  padding-top: 60px;
}
p,
figcaption {
  font-size: 25px;
  text-decoration: none;
  color: #d4d4d4;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #16181e;
  background-image: url("images/blackbackground.jpg");
}

a {
  font-size: 25px;
  text-decoration: none;
  color: #d4d4d4;
  transition: all 100ms;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

a:hover {
  color: #b15a5a;
  font-size: 30px;
}

nav {
  background-color: #202029;
  padding: 30px;
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0px;
}
nav a {
  padding: 7px 12px;
  width: 10px;
}
img {
  animation: imagesAni ease 2s;
  transition: all 250ms;
  padding: 30px;
  border: none;
}
img:hover {
  transform: scale(1.2);
}
body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes imagesAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
