table,
th,
td {
  border: 1px solid black;
}

iframe,
img {
  border: 5px solid black;
}

h1,
h2,
h3 {
  font-size: 50px;
  text-decoration: none;
  color: #d4d4d4;
}
p,
figcaption {
  font-size: 25px;
  text-decoration: none;
  color: #d4d4d4;
}
a {
  font-size: 25px;
  text-decoration: none;
  color: #d4d4d4;
}

body {
  background-color: #16181e;
}
a:hover {
  color: #b15a5a;
}
nav {
  background-color: #202029;
  padding: 30px;
}
